* {
  box-sizing: border-box;
}
image {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbf3ea;
}

header {
  background-color: #f2de61;
  background-image: url(./assets/meds-background-crop.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgba(37, 67, 108, 0.5);
  width: 100vw;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1,
h2 {
  margin-top: 0;
}
h1 {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 46px;
  color: #71b9db;
}

p {
  line-height: 1.7;
  opacity: 0.8;
}
.container {
  max-width: 500px;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 35px;
}
.subhead {
  font-weight: 700;
  color: #25436c;
  margin-top: 30px;
}

.link {
  text-decoration: none;
  color: #25436c;
  font-weight: bold;
}

.link:hover,
.link:focus {
  color: #71b9db;
}

.error {
  font-size: 14px;
  color: rgb(37, 67, 108);
  margin-top: 0;
}

li {
  list-style-type: none;
  font-family: inherit;
  color: #25436c;

  font-weight: 600;
  font-size: 18px;
}

.list-items {
  padding-left: 0;
}

.list-item {
  margin: 20px 0;
  padding: 10px 0;
}

.list-item:hover {
  background-color: white;
  margin-left: -10px;
  padding-left: 10px;
}

.list-info {
  display: none;
}

.list-definition {
  margin-inline-start: 0;
}

.list-definition p {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0;
}

.notes-heading {
  font-weight: bold;
  margin-top: 16px !important;
}

.form {
  display: flex;
  font-family: inherit;
  flex-direction: column;
  padding: 20px;
  background: #dbf3ff;
  border: 1px solid rgb(37, 67, 108, 0.5);
  border-radius: 15px;
  margin: 30px -10px;
}

.form-update {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  max-width: 550px;
  width: 90vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}
.form-update h3 {
  margin-top: 0;
}

.form-disabled {
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.form-disabled input {
  background-color: rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 600;
  padding-bottom: 5px;
  color: rgb(37, 67, 108, 0.8);
}

input {
  margin-bottom: 15px;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  font-family: inherit;
}

textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-family: inherit;
}

.input:hover,
.input:focus {
  background-color: #f8fafc;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: rgba(37, 57, 104, 0.6);
  cursor: pointer;
  letter-spacing: 1px;
  transition: 200ms;
}

.btn-form {
  font-size: 18px;
}

.update-bns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn-update {
  width: 48%;
  padding-left: 1em;
  padding-right: 1em;
}

.btn-signout {
  margin-top: 20px;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 12px;
}

.btn-back {
  padding-left: 2em;
  padding-right: 2em;
}

.btn:hover {
  color: #fef9dc;
  background-color: rgba(37, 57, 104, 1);
}
.fa-circle-xmark,
.fa-pen {
  color: rgba(37, 57, 104, 0.25);
  padding-left: 10px;
  font-size: 14px;
}

.fa-circle-xmark:hover,
.fa-circle-xmark:focus,
.fa-pen:hover,
.fa-pen:focus {
  color: #25436c;
}

.label-info {
  font-size: 12px;
}

.loader {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.not-found-container h2 {
  margin-bottom: 40px;
}
